
@{
    ViewData["Title"] = "Update";
}

@model PostUpdateDto
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Default form</h4>
                        <p class="card-description">
                            Basic form layout
                        </p>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <input hidden asp-for="@Model.getDto.Id" />
                            <div class="form-group">
                                <label for="exampleInputUsername1">Title</label>
                                <input asp-for="@Model.createDto.Title" value="@Model.getDto.Title" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Description</label>
                                <input asp-for="@Model.createDto.Description" value="@Model.getDto.Description" placeholder="Description">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Description</label>
                                <input asp-for="@Model.createDto.formFile" placeholder="Description">
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


